body {
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.header, .footer {
    background-color: #1F2937;
}

.header {
    color: #F9FAF8;
    overflow: hidden;
}


h1 {
    font-weight: 900;
    font-size: 48px;
}

h2, .quote-text {
    font-size: 36px;
    color: #1F2937;
}

h3 {
    
    font-size: 24px;
}


a, .header-text, .footer {
    color: #E5E7EB;
    font-size: 18px;
}

a {
    text-decoration: none;
}

button, .call-to-action {
    background-color: #3882F6;
    border-radius: 16px;
}


.content-one {
    display: flex;
}

.content-two {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
}

.content-three {
    color: #E5E7EB;
    margin: 16px;
}

.header, .content-one, .content-two, .content-three {
    padding: 0 150px 0 150px;
}

.header img {
    display: flex;
    max-height: 450px;
    width: auto;
}

.footer {
    justify-items: center;
}

.content-one img {
    border: #3882F6 2px solid;
    padding: 35px;
    border-radius: 20px;
    margin: 10px;
}

button {
    padding: 12px 30px 12px 30px;
    color: #E5E7EB;
    font-weight: 900;
    max-width: fit-content;
}

.content-three button {
    border: #E5E7EB 2px solid;
}

.call-to-action {
    padding: 8px 75px 8px 75px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.call-to-action h3 {
    margin-bottom: 5px;
}

.call-to-action p {
    margin-top: 5px;
}

.block {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    gap: 32px;
}

.header-navbar {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    align-content: center;
}

.nav-links a {
    margin: 10px;
}

.content-one-header {
    display: flex;
    justify-content: center ;
}

.text-box {
    display: flex;
    justify-content: center;
    max-width: 138px;
}

.block img {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.content-one-content {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 50px;
}

.header-content {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    justify-content: space-between;
}

.header-content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-content-left h1 {
    margin-bottom: 0px;
}

.quote-text {
    font-weight: 300;
}

.quote-attribution {
    text-align: right;
}

.container {
    margin-right: 280px;
}

