body {
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #e5e7eb;
}

.header, .footer {
    background-color: #1F2937;
    display: flex;
}

.header{
    color: #F9FAF8;
}

h1 {
    font-weight: 900;
    font-size: 48px;
}

h2 {
    color: #1F2937;
    font-size: 36px;
}

h3 {
    color: #F9FAF8;
    font-size: 24px;
}

p , a {
    font-size: 18px;
    color: #E5E7EB;
}

button, .call-to-action {
    background-color: #3882F6;
}